        #loading-overlay {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0, 0, 0, 0.5);
            z-index: 9999;
            display: flex;
            align-items: center;
            justify-content: center;
            display: none;
        }
        
        #loading-icon {
            width: 80px;
            height: 80px;
            position: absolute;
            top: 45%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        
        #loading-message {
            position: absolute;
            color: white;
            top: 57%;
            left: 50%;
            transform: translate(-50%, -50%);
        }